[Unit]
Description=epaper gpio dashboard
After=default.target

[Service]
Type=oneshot
WorkingDirectory=/home/pi/epaper-dashboard/
ExecStart=/usr/bin/python3 dashboard.py
RemainAfterExit=yes

[Install]
WantedBy=default.target
